/* CSS for customer */
/* This file contains the CSS styles for the customer section of the application */

/* Leaderboard card */
.leaderboard-card{
    background: var(--accent-second) !important;
}

/* Divider */
.divider{
    height: 2px;
    background: var(--accent) !important;
}

/* Button */
.payment-button{
    transition: all 0.3s ease;
}
.payment-button:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    cursor: pointer;
}
