/* CSS file for the dashboard */

/* Wrapper for Statistics */
.statistic-wrapper{
    background-color: transparent !important;
    margin: calc(var(--spacing-unit) * 2) 0;
    padding: calc(var(--spacing-unit) * 1.5);
    position: relative;
    overflow: hidden;
}
