/* CSS file for components */

/* Google Web Fonts Helper */
/* Heading */
/* archivo-black-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/archivo-black-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* Paragraphs */
/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* END OF Google Web Fonts Helper */

/* Root Colors */
:root{
    --background: #F7F6FE;
    --primary: #13795b;
    --secondary: #FFFFFF;
    --accent: #ffc107;
    --accent-second: #1aa179;
    --fc-today-bg-color: #0ec06d;
}

/* Body */
body{
    background: var(--background) !important;
}

/* All Main */
main{
    padding-top: 4rem !important;
}

table tr td{
    font-family: 'Roboto';
}

h1, h3{
    font-family: 'Roboto';
    font-weight: bold;
}

/* Components */

/* Full Calendar JS customization */
.fc .fc-daygrid-day.fc-day-today  {
    background-color: var(--fc-today-bg-color);
    color: #ffffff;
}
.fc .fc-daygrid-day-number{
    color: #121212;
    font-weight: 500;
}
.fc .fc-daygrid-day-frame{
    cursor: pointer;
}
.clicked-day {
    background-color: #8dcaff !important;
}
.fc .fc-col-header-cell-cushion{
    text-decoration: none;
    color: #121212;
}